
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
</head>
<body>

    <div class="text-center">
        <img src="/img/404.png" style="width:65%">

    </div>

</body>
</html>