@model ViewModels.EditRoleViewModel

@{
    Layout = "_Layout";
    var title = "Edit Role";
    ViewData["Title"] = title;
}
<div class="container justify-content-md-center" style="width: 50%;">
    <h3 class="text-info text-center" style="margin:20px;">@title</h3>

    <form method="post" style="padding-bottom:10%">
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>
        <div class="form-group">
            <label asp-for="RoleName"></label>

            <input asp-for="RoleName" class="form-control">
            <span asp-validation-for="RoleName" class="text-danger"></span>

        </div>
        <button type="submit" class="btn btn-info btn-block">
            Update
        </button>
    </form>



    <h3 class="text-info text-center" style="margin:20px;">Users</h3>
        @if (Model.Users.Any())
    {
        foreach (var user in Model.Users)
        {
            <h5 class="card-title">@user</h5>
    }
        }
        else
        {
    <h5 class="card-title">None at the moment</h5>
}


        <a asp-controller="Administration" asp-action="EditUsersInRole"
           asp-route-roleId="@Model.Id" class="btn btn-outline-info btn-block">
            Add or remove users from this role
        </a>

    </div>













