@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    Layout = "_Layout";

}
<!--

<div class="container mt-3">
   

        <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole"
           asp-controller="administration">Add new role</a>


            <div class="card mb-3">
                <div class="card-header">
                    Role Id : 
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                </div>
                <div class="card-footer">
                    <a  class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        }
    }

</div>

-->

<h3 class="text-info text-center" style="margin: 20px;">New Role</h3>
    
<div class="card-columns">
    @foreach (var role in Model)
        {
            <div class="card text-center" style="padding-top:5%; padding-bottom:5%">
                <div class="card-body">
                    <h5 class="card-title" style="margin-bottom:10%">@role.Name</h5>
                    <div class="d-flex align-items-center">
                        <a class="btn btn-outline-secondary btn-block" asp-controller="Administration" asp-action="EditRole" asp-route-id="@role.Id" style="margin-right:10px">Modificate</a>
                    </div>
                </div>
            </div>
        }

    </div>

            <a class="card-body text-center  btn btn-outline-info btn-block" asp-action="CreateRole"
           asp-controller="administration">
                Create New Role
            </a>

