@model FinalProject.Models.Authors

@{
    Layout = "_Layout";
    var title = "Name Authors of Masterpiece";
    ViewData["Title"] = title;
}


<div class="container justify-content-md-center" style="width: 50%;">
    <h3 class="text-info text-center" style="margin:20px;">@title</h3>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form class="m-1 p-1" method="post">
        <div class="form-group">
            <label asp-for="Author_name"></label>
            <input asp-for="Author_name" class="form-control" />
            <span asp-validation-for="Author_name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-info btn-block">Submit</button>
    </form>
</div>
