@{
    Layout = "_Layout";
    var title = "Are you Book Lover?";
    ViewData["Title"] = title;
}

<div class="container justify-content-md-center" style="width: 50%;">
    <h2 class="text-info text-center">owo, do you want to be a member?</h2>
    <p>We glad to see you! Could you please identify yourself to our administrator?
    You can contact with him via admin@booklovers.net</p>


        <button class="btn btn-outline-info btn-block">Main</button>

</div>