
@{
    Layout = "_Layout";
    var title = "READ Userss";
    ViewData["Title"] = title;
}


<h3 class="text-center text-info">Our Lovely Members</h3>
<div class="container justify-content-md-center" style="margin-left:15%; margin-top:2%">
    <table class="table table-borderless" >
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">FullName</th>
                <th scope="col">Modification</th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null)
            {
                <tr><td colspan="7" class="text-center">No Model Data</td></tr>
            }
            else
            {
                @foreach (var p in Model)
                {
                    <tr>
                        <td>@p.UserName</td>
                        <td>@p.FullName</td>


                        <td>
                            <div class="d-flex align-items-center">

                                <a class="btn btn-sm btn-outline-secondary" asp-action="Update" asp-route-id="@p.Id" style="margin-right:10px">Update</a>
                                <form asp-action="Delete" method="post" asp-route-id="@p.Id"> 
                                    <button class="btn btn-sm btn-outline-danger" style="margin-right:80px"> Delete</button>
                                </form>
                                
                            </div>
                           
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<a asp-action="Create" class="btn btn-outline-info" style="margin-left:39%; margin-top:5%; width:250px">Create New Member</a>